<div class="card">
  <h2 class="mx-2">Cadastro de Perfume</h2>

  <form [formGroup]="meuForm" (ngSubmit)="onAtualizar()">
    <div class="card mx-5">
      <div class="p-fluid mx-5">
        <div class="p-field">
          <p>
            <label for="perfume">Nome do perfume:</label>
            <input pInputText id="nome" type="text" formControlName="nome" required />
          </p>
          <p>
            <label for="perfume">Marca:</label>
            <input pInputText id="marca" type="text" formControlName="marca" required />
          </p>
        </div>
      </div>
      <div class="mx-5">
        <p>
          <button *ngIf="!isNew" pButton type="submit" label="Atualizar" [disabled]="!meuForm.valid"></button>
          <button *ngIf="isNew" pButton type="button" label="Novo" (click)="onIncluir()"
            [disabled]="!meuForm.valid"></button>&nbsp;
          <button pButton type="button" label="Cancelar" class="p-button-secondary"
            (click)="onCancelar()"></button>&nbsp;
          <button *ngIf="!isNew" pButton type="button" label="Apagar" class="p-button-danger"
            (click)="onExcluir()"></button>
        </p>
      </div>
    </div>
  </form>
  <p>{{ mensagemErro }}</p>
</div>