<div class="card">
<h2 class="mx-2">Cadastro de Essência</h2>

<form [formGroup]="meuForm" (ngSubmit)="onAtualizar()">
  <div class="card">
    <div class="p-fluid">
      <div class="p-field">
        <p>
          <label class="mx-2" for="descricao">Descrição da essência:</label>
          <input pInputText id="descricao" type="text" formControlName="descricao" required />
        </p>
      </div>
    </div>
    <div>
      <p>
        <button *ngIf="!isNew" pButton type="submit" label="Atualizar" [disabled]="!meuForm.valid"></button>
        <button *ngIf="isNew" pButton type="button" label="Novo" (click)="onIncluir()" [disabled]="!meuForm.valid"></button>&nbsp;
        <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="onCancelar()"></button>&nbsp;
        <button *ngIf="!isNew" pButton type="button" label="Apagar" class="p-button-danger" (click)="onExcluir()"></button>
      </p>
    </div>
  </div>
</form>
<p>{{ mensagemErro }}</p>
</div>