<div class="card mp-5">
  <h2 class="mx-2">Listagem de Marca</h2>
  <div class="mx-5">
    <button pButton label="Nova marca" (click)="onNovo($event)"></button>&nbsp;
  </div>
  <p-table class="p-fluid mx-5" [value]="marcas" selectionMode="single" [(selection)]="marcaSelecionada"
    dataKey="id" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">Código <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon>
          </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-marca>
      <tr [pSelectableRow]="marca">
        <td>{{marca.id}}</td>
        <td>{{marca.nome}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
