<div th:fragment="navbar">
	<div class="container-fluid mb-5">
		<nav class="navbar fixed-top navbar-dark bg-primary mb-5">
			<h2 class="text-light">CADASTRO DE PERFUME</h2>
			<div class="navbar sticky-top" id="navbarNavAltMarkup">
				<div class="navbar sticky-top">
				<div class = "nav-item nav-link active text-light">
					Olá, <span></span>!
					<a class="text-light"  href="#">( Sair )</a>
					<!-- <a class="text-light"  href="/login">( Sair )</a> -->
					<!--Verificar o logof <button class="btn-danger" (clock)="onLogoff()">Sair</button> 
						aula 10/02 31:41min-->
					</div>
					<br> 
					<a class="navbar-brand nav-item nav-link active text-light"
						href="#">Perfume<span class="sr-only">(current)</span></a>
					<a class="navbar-brand nav-item nav-link active text-light" href="#">Marca
						<span class="sr-only">(current)</span>
					</a> <a class="navbar-brand nav-item nav-link active text-light"
						href="#">Essência<span class="sr-only">(current)</span>
					</a>
				</div>
			</div>
		</nav>
	</div>
</div>

<div class="container">

</div>
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-5 mt-5">
        © 2021 Copyright: José Ricardo Quintino Vidal<br>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<router-outlet></router-outlet>