<div class="container mb-5">
<div th:fragment="navbar">
	<div class="container mb-5">
		<nav class="navbar fixed-top navbar-dark bg-primary">
			<h2 class="text-light mx-5">CADASTRO DE PERFUME</h2>
			<div class="navbar sticky-top" id="navbarNavAltMarkup">
				<div class="navbar sticky-top">
					<div class="nav-item nav-link active text-light">
						Olá, <span>usuário</span>!
						<a class="text-light" href="#">( Sair )</a>
						<!-- <a class="text-light"  href="/login">( Sair )</a> -->
						<!--Verificar o logof <button class="btn-danger" (clock)="onLogoff()">Sair</button> 
						aula 10/02 31:41min-->
					</div>
					<br>
					<a class="navbar-brand nav-item nav-link active text-light" href="/perfumes">Perfume<span
							class="sr-only"></span>
					</a>
					<a class="navbar-brand nav-item nav-link active text-light" href="/marcas">Marca
						<span class="sr-only"></span>
					</a>
					<a class="navbar-brand nav-item nav-link active text-light" href="/essencias">Essência<span
							class="sr-only"></span>
					</a>
				</div>
			</div>
		</nav>

	</div>
	
</div>
<div class="container fixed-paddim py-5">
	<router-outlet class="container"></router-outlet>
</div>

<div class="footer-copyright text-center py-5 mt-5">
	<footer class="page-footer fixed-bottom font-small blue">
		<!-- Copyright -->
		© 2021 Copyright: José Ricardo Quintino Vidal<br>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
</div>
</div>
