<div class="card">
  <h2 class="mx-2">Listagem de Perfume</h2>
  <div class="mx-5">
    <button pButton label="Novo Perfume" (click)="onNovo($event)"></button>&nbsp;
  </div>
  <p-table class="p-fluid mx-5" [value]="perfumes" selectionMode="single" [(selection)]="perfumeSelecionado" dataKey="id"
    (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">Código <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th pSortableColumn="marca">Marca <p-sortIcon field="marca"></p-sortIcon>
        </th>
        <th pSortableColumn="essencia">Essencia <p-sortIcon field="essencia"></p-sortIcon>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-perfume>
      <tr [pSelectableRow]="perfume">
        <td>{{perfume.id}}</td>
        <td>{{perfume.nome}}</td>
        <td>{{perfume.marca.nome}}</td>
        <!-- <td>{{perfume.essencia.descricao}}</td> -->
      </tr>
    </ng-template>
  </p-table>
</div>